<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html>
<f:view xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://xmlns.jcp.org/jsf/passthrough" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" encoding="UTF-8"
  contentType="text/html;charset=UTF-8">
  <html>

<h:head>
  <title>Tìm kiếm bệnh nhân</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="#{request.contextPath}/styles/default.css" rel="stylesheet" type="text/css" />
  <link href="#{request.contextPath}/styles/cssLayout.css" rel="stylesheet" type="text/css" />
  <link href="#{request.contextPath}/styles/jquery-ui-1.css" rel="stylesheet" type="text/css" />
  <link href="#{request.contextPath}/styles/jquery.css" rel="stylesheet" type="text/css" />
  <link href="#{request.contextPath}/styles/header.css" rel="stylesheet" type="text/css" />
  <link href="#{request.contextPath}/styles/referenceapplication.css" rel="stylesheet" type="text/css" />
  <link href="#{request.contextPath}/styles/fontawesome-all.css" rel="stylesheet" type="text/css" />

  <script src="#{request.contextPath}/scripts/jquery.js?v=#{app.version}" type="text/javascript"></script>
  <script src="#{request.contextPath}/scripts/jquery-ui.js?v=#{app.version}" type="text/javascript"></script>
  <script src="#{request.contextPath}/scripts/underscore-min.js?v=#{app.version}" type="text/javascript"></script>
  <script src="#{request.contextPath}/scripts/knockout-2.js?v=#{app.version}" type="text/javascript"></script>
  <script src="#{request.contextPath}/scripts/emr.js?v=#{app.version}" type="text/javascript"></script>

  <link href="#{request.contextPath}/styles/dataTables_jui.css" rel="stylesheet" type="text/css" />
  <link href="#{request.contextPath}/styles/patientSearchWidget.css" rel="stylesheet" type="text/css" />
</h:head>

<h:body>
  <header>
    <div class="logo">
      <a href="https://master-1.voduytan.local/app-1.0.0/faces/index.html"> <img src="./../images/logo.png" />
      </a>
    </div>

    <ul class="user-options">
      <li class="identifier" style="cursor: pointer;"><i class="fa fa-user small"></i> admin <i
        class="fa fa-caret-down appui-icon-caret-down link"></i><i class="icon-caret-up link appui-toggle"
        style="display: none;"></i>
        <ul id="user-account-menu" class="appui-toggle">

          <li><a id="" href=""> Tài khoản của tôi </a></li>

        </ul></li>
      <li class="change-location"><a href="javascript:void(0);"> <i class="fa fa-map-marker small"></i> <span
          id="selected-location" data-bind="text: text">Inpatient Ward</span> <i class="fa icon-caret-down link"></i>

      </a></li>
      <li class="logout"><a href=""> Thoát <i class="fa fa-sign-out-alt small"></i>
      </a></li>
    </ul>
  </header>

  <ul id="breadcrumbs">
    <li><a href="https://master-1.voduytan.local/app-1.0.0/faces/index.html"> <i class="fa fa-home small"></i>
    </a></li>

    <li><i class="fa icon-chevron-right link"></i> Tìm kiếm hồ sơ bệnh nhân</li>
  </ul>

  <div id="body-wrapper">
    <div id="content" class="container">
      <h2>Tìm kiếm hồ sơ bệnh nhân</h2>

      <h:form id="formMain" prependId="false">
        <h:selectOneRadio value="#{patientBackingBean.patientId}" layout="pageDirection">
          <c:forEach items="#{patientClientBean.patients}" var="m">
            <f:selectItem itemValue="#{m.id}" itemLabel="#{m.name}" />
          </c:forEach>
        </h:selectOneRadio>

        <h:commandButton value="Chi tiết" action="detailpatient" />
        <h:commandButton value="Xóa" action="patients" actionListener="#{patientClientBean.deletePatient()}" />
        <h:commandButton value="Bệnh nhân mới" action="addpatient" />

        <h:commandButton id="cbSearchAdvance" action="#{patientBean.doAction(searchAdvance)}" value="Tìm"
          styleClass="btn btn-primary" style="width: 100px; margin-left: 10px;">
          <f:ajax execute="@form" render="@form"></f:ajax>
        </h:commandButton>

        <h:panelGroup id="pgItems" layout="block" styleClass="table">
          <h:dataTable id="tableLabelItems" styleClass="table w100" headerClass="table-header"
            value="#{patientdto.patientList}" var="row" cellspacing="0" cellpadding="0">
            <h:column>
              <f:facet name="header">
                <h:selectBooleanCheckbox styleClass="select-all-row"
                  onchange="selectAllRow(this, $('#tableLabelItems .select-row'))" value="#{viewValue.allLabels}"></h:selectBooleanCheckbox>
                <h:outputText value="STT" />
              </f:facet>
              <div class="group-select-index">
                <div class="index">
                  <h:outputText value="#{row.index}" />
                </div>
              </div>
            </h:column>

            <h:column>
              <f:facet name="header">
                <div>
                  <h:outputText value="Tên người dùng" />
                </div>
              </f:facet>
              <h:outputText styleClass="text-left" value="#{row.name}"></h:outputText>
            </h:column>

            <h:column>
              <f:facet name="header">
                <div>
                  <h:outputText value="Địa chỉ" />
                </div>
              </f:facet>
              <h:outputText styleClass="text-left" value="#{row.address}"></h:outputText>
            </h:column>

          </h:dataTable>
        </h:panelGroup>
      </h:form>
    </div>

  </div>
</h:body>
  </html>
</f:view>