<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html>
<f:view xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://xmlns.jcp.org/jsf/passthrough" encoding="UTF-8" contentType="text/html;charset=UTF-8">
  <html>

<h:body>
  <ui:composition template="./WEB-INF/template.html">
    <ul id="breadcrumbs">
      <li><a href="https://demo.openmrs.org/openmrs/index.htm"> <i class="icon-home small"></i>
      </a></li>
      <li><i class="icon-chevron-right link"></i> Tìm kiếm hồ sơ bệnh nhân</li>
    </ul>

    
  </ui:composition>
</h:body>
  </html>
</f:view>