<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html>
<f:view xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://xmlns.jcp.org/jsf/passthrough" encoding="UTF-8" contentType="text/html;charset=UTF-8">
  <html>

<h:head>
  <title>Tìm kiếm bệnh nhân</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="#{request.contextPath}/styles/default.css" rel="stylesheet" type="text/css" />
  <link href="#{request.contextPath}/styles/cssLayout.css" rel="stylesheet" type="text/css" />
  <link href="#{request.contextPath}/styles/jquery-ui-1.css" rel="stylesheet" type="text/css" />
  <link href="#{request.contextPath}/styles/jquery.css" rel="stylesheet" type="text/css" />
  <link href="#{request.contextPath}/styles/header.css" rel="stylesheet" type="text/css" />
  <link href="#{request.contextPath}/styles/referenceapplication.css" rel="stylesheet" type="text/css" />
  <link href="#{request.contextPath}/styles/fontawesome.css" rel="stylesheet" type="text/css" />
  <script src="#{request.contextPath}/scripts/jquery.js?v=#{app.version}" type="text/javascript"></script>
  <script src="#{request.contextPath}/scripts/jquery-ui.js?v=#{app.version}" type="text/javascript"></script>
  <script src="#{request.contextPath}/scripts/underscore-min.js?v=#{app.version}" type="text/javascript"></script>
  <script src="#{request.contextPath}/scripts/knockout-2.js?v=#{app.version}" type="text/javascript"></script>
  <script src="#{request.contextPath}/scripts/emr.js?v=#{app.version}" type="text/javascript"></script>
</h:head>

<h:body>
  <header>
    <div class="logo">
      <a href="https://master-1.voduytan.local/app-1.0.0/faces/index.html"> <img src="./../images/logo.png" /></a>
    </div>

    <ul class="user-options">
      <li class="identifier" style="cursor: pointer;"><i class="icon-user small"></i> admin <i
        class="icon-caret-down appui-icon-caret-down link"></i><i class="icon-caret-up link appui-toggle"
        style="display: none;"></i>
        <ul id="user-account-menu" class="appui-toggle">

          <li><a id="" href=""> Tài khoản của tôi </a></li>

        </ul></li>
      <li class="change-location"><a href="javascript:void(0);"> <i class="icon-map-marker small"></i> <span
          id="selected-location" data-bind="text: text">Inpatient Ward</span> <i class="icon-caret-down link"></i>

      </a></li>
      <li class="logout"><a href=""> Thoát <i class="icon-signout small"></i>
      </a></li>
    </ul>

    <div id="session-location">
      <div id="spinner" style="position: absolute; display: none">
        <img src="./../images/spinner.gif" />
      </div>
      <ul class="select">

        <li class="selected">Inpatient Ward</li>

        <li class="">Isolation Ward</li>

        <li class="">Laboratory</li>

        <li class="">Outpatient Clinic</li>

        <li class="">Pharmacy</li>

        <li class="">Registration Desk</li>

      </ul>
    </div>
  </header>

  <ul id="breadcrumbs">
    <li><a href="https://master-1.voduytan.local/app-1.0.0/faces/index.html"> <i class="icon-home small"></i>
    </a></li>

    <li><i class="icon-chevron-right link"></i> Tìm kiếm hồ sơ bệnh nhân</li>
  </ul>

  <div id="body-wrapper">
    <div id="error-message" class="note-container">
      <div class="note error" style="display: none">
        <div class="text">
          <i class="icon-remove medium"></i>

        </div>
        <div class="close-icon">
          <i class="icon-remove"></i>
        </div>
      </div>
    </div>

    <div id="info-message" class="note-container">
      <div class="note success" style="display: none">
        <div class="text">
          <i class="icon-ok medium"></i>

        </div>
        <div class="close-icon">
          <i class="icon-remove"></i>
        </div>
      </div>
    </div>

    <div id="content" class="container">
      <h2>Tìm kiếm hồ sơ bệnh nhân</h2>

      <h:form method="get" id="patient-search-form" onsubmit="return false">
        <h:inputText id="patient-search" placeholder="Tìm kiếm bằng ID hoặc tên bệnh nhân" autocomplete="off"
          type="text" />
        <i id="patient-search-clear-button" class="small icon-remove-sign"></i>

      </h:form>

      <div id="patient-search-results">
        <div id="patient-search-results-table_wrapper" class="dataTables_wrapper" role="grid">
          <table id="patient-search-results-table" class="dataTable"
            aria-describedby="patient-search-results-table_info">
            <thead>
              <tr role="row">
                <th class="ui-state-default" role="columnheader" rowspan="1" colspan="1" style="width: 0px;"><div
                    class="DataTables_sort_wrapper">
                    ID<span class="DataTables_sort_icon"></span>
                  </div></th>
                <th class="ui-state-default" role="columnheader" rowspan="1" colspan="1" style="width: 0px;"><div
                    class="DataTables_sort_wrapper">
                    Tên<span class="DataTables_sort_icon"></span>
                  </div></th>
                <th class="ui-state-default" role="columnheader" rowspan="1" colspan="1" style="width: 0px;"><div
                    class="DataTables_sort_wrapper">
                    Giới tính<span class="DataTables_sort_icon"></span>
                  </div></th>
                <th class="ui-state-default" role="columnheader" rowspan="1" colspan="1" style="width: 0px;"><div
                    class="DataTables_sort_wrapper">
                    Tuổi<span class="DataTables_sort_icon"></span>
                  </div></th>
                <th class="ui-state-default" role="columnheader" rowspan="1" colspan="1" style="width: 0px;"><div
                    class="DataTables_sort_wrapper">
                    Ngày sinh<span class="DataTables_sort_icon"></span>
                  </div></th>
              </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
              <tr class="odd">
                <td colspan="5" class="dataTables_empty" valign="top">Không có hồ sơ được tìm thấy</td>
              </tr>
            </tbody>
          </table>
          <div class="fg-toolbar ui-toolbar ui-corner-bl ui-corner-br ui-helper-clearfix datatables-info-and-pg">
            <div class="dataTables_info" id="patient-search-results-table_info"></div>
            <div
              class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers"
              id="patient-search-results-table_paginate">
              <a tabindex="0"
                class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default ui-state-disabled"
                id="patient-search-results-table_first">Trang đầu</a><a tabindex="0"
                class="previous fg-button ui-button ui-state-default ui-state-disabled"
                id="patient-search-results-table_previous">Trang trước</a><span></span><a tabindex="0"
                class="next fg-button ui-button ui-state-default ui-state-disabled"
                id="patient-search-results-table_next">Trang kế</a><a tabindex="0"
                class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default ui-state-disabled"
                id="patient-search-results-table_last">Trang cuối</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script type="text/javascript">

    var breadcrumbs = [
        { icon: "icon-home", link: '/' + OPENMRS_CONTEXT_PATH + '/index.htm' },
        { label: "Find Patient Record"}
    ];


    jq(function() {
        jq('#patient-search').focus();
    });

</script>
  <script type="text/javascript">
    var listableAttributeTypes = [];
    
    var lastViewedPatients = [];
    
    function handlePatientRowSelection() {
        this.handle = function (row) {
            var uuid = row.uuid;
            location.href = '/' + OPENMRS_CONTEXT_PATH + emr.applyContextModel('/coreapps/clinicianfacing/patient.page?patientId={{ patientId }}', { patientId: uuid, breadcrumbOverride: ''});
        }
    }
    var handlePatientRowSelection =  new handlePatientRowSelection();
    jq(function() {
        var widgetConfig = {
            initialPatients: lastViewedPatients,
            doInitialSearch: null,
            minSearchCharacters: 3,
            afterSelectedUrl: '/coreapps/clinicianfacing/patient.page?patientId={{ patientId }}',
            breadcrumbOverride: '',
            searchDelayShort: 300,
            searchDelayLong: 1000,
            handleRowSelection: handlePatientRowSelection,
            dateFormat: 'DD MMM YYYY',
            locale: 'en',
            defaultLocale: 'en_gb',
            attributeTypes: listableAttributeTypes,
            messages: {
                info: 'Showing _START_ to _END_ of _TOTAL_ entries',
                first: 'First',
                previous: 'Previous',
                next: 'Next',
                last: 'Last',
                noMatchesFound: 'No matching records found',
                noData: 'No Data Available',
                recent: 'Recent',
                searchError: 'An error occurred while searching for patients',
                identifierColHeader: 'Identifier',
                nameColHeader: 'Name',
                genderColHeader: 'Gender',
                ageColHeader: 'Age',
                birthdateColHeader: 'Birthdate',
                ageInMonths: '{0} Month(s)',
                ageInDays: '{0} Day(s)'
            }
        };

        new PatientSearchWidget(widgetConfig);
    });
</script>
</h:body>
  </html>
</f:view>