.hsep {
  margin-top: 20px;
}

.margin-control {
  margin-left: 8px;
}

.padding-control {
  padding-left: 8px;
}

.btn {
  display: inline-block;
  padding: 5px 6px;
  margin-bottom: 0px;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333;
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 4px;
  box-sizing: border-box;
  height: 29px;
}

.btn>div {
  height: 100%;
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover, .btn:focus {
  color: #333;
  background-color: #fff;
  border-color: #aaa;
  text-decoration: none;
}

.btn:active, .btn.active {
  background-image: none;
  outline: 0px;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity = 65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

.btn-margin {
  margin-left: 5px;
  margin-right: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #43609c;
  border-color: #357ebd;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}

.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover,
  .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus,
  fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active,
  .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
  background-color: #43609c;
  border-color: #357ebd;
}

.btn-primary .badge {
  color: #43609c;
  background-color: #fff;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover,
  .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus,
  fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active,
  .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

.btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover,
  fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus,
  .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active,
  .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}

.btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover,
  .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus,
  fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active,
  .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover,
  fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus,
  .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active,
  .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}

.btn-link {
  text-decoration: none;
  font-weight: normal;
  color: #43609c;
  cursor: pointer;
  border-radius: 0px;
  border: 1px solid transparent;
}

.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  border-color: transparent;
}

.btn-link:hover, .btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:focus
  {
  color: #777;
  text-decoration: none;
}

.btn-link.border:hover, .btn-link.border:focus {
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 2px;
}

.btn-pin {
  border-bottom: 4px solid;
  box-sizing: border-box;
  color: #666;
  position: absolute;
  right: 0px;
  top: 3px;
  width: 12px;
  height: 18px;
}

.btn-pin:hover {
  color: #333;
}

.btn-pin:before {
  font-family: FontAwesome;
  content: "\f08d";
  position: absolute;
  left: 1px;
  top: 0px;
}

.btn-pin.pinned:before {
  top: 3px;
}

.form-grid {
  display: table;
  width: 100%;
  position: relative;
}

.form-group {
  display: table-cell;
  position: relative;
}

.form-grid.c2 .form-group {
  width: 50%;
  position: relative;
}

.form-grid.c3 .form-group {
  width: 33.3333%;
}

.form-grid.c4 .form-group {
  width: 25%;
}

.form-grid.c5 .form-group {
  width: 20%;
}

.container-control {
  box-sizing: border-box;
  position: relative;
}

.form-control {
  width: 100%;
  box-sizing: border-box;
  display: table;
  margin-top: 8px;
}

.form-control.no-margin {
  margin-top: 0px;
}

.no-margin .form-control {
  margin-top: 0px;
}

.control {
  position: relative;
}

.form-control .label {
  display: table-cell;
  text-align: right;
  padding: 6px 10px 0px 0px;
  box-sizing: border-box;
  vertical-align: top;
  color: #666;
}

.form-control .label>table {
  float: right;
}

.form-control .output {
  background-color: #fff;
  background-image: none;
  border: 1px solid #fff;
}

.form-control .control {
  box-sizing: border-box;
  display: table-cell;
}

.form-control .right-icon {
  box-sizing: border-box;
  display: table-cell;
  width: 25px;
  position: relative;
}

.form-control .control>input, .form-control .control>div>input, .form-control .control>textarea, .form-control .control>select,
  .form-control .control>span, .form-control .control>div, .form-control .control>.input, .form-control .control>div>.input
  {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  background-image: none;
  border: 1px solid #999;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
}

.form-control .control>input, .form-control .control>div>input, .form-control .control>select, .form-control .control>span,
  .form-control .control>div, .form-control .control>.input, .form-control .control>div>.input {
  height: 24px;
}

.form-control .control>input {
  padding: 3px 4px;
}

.form-control .control>select {
  padding: 2px 4px;
}

@
-moz-document url-prefix () { .form-control .control>select {
  padding: 2px 0px;
}

}
.form-control .control>span {
  
}

.form-control .control>div {
  padding: 3px 4px;
}

.form-control .control>textarea, .form-control .control>span.textarea, .form-control .control>div.textarea {
  min-height: 29px;
  height: auto;
  margin: 0px;
  padding: 3px 4px;
  white-space: pre-wrap;
  -webkit-resize: vertical;
  -moz-resize: vertical;
  -o-resize: vertical;
  resize: vertical;
  overflow: auto;
}

.form-control .control>div.textarea.editor {
  min-height: 200px;
}

.form-control .control input[type="checkbox"], .form-control .control input[type="radio"] {
  margin: 5px 0px 5px 0px;
  padding: 0px;
  width: auto;
  box-shadow: none;
  height: auto;
}

.form-control .control input:focus, .form-control .control textarea:focus, .form-control .control select.focus {
  border-color: #66afe9;
  outline: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #999;
  opacity: 1;
}

input:-ms-input-placeholder, input:-ms-input-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

.control>*[readonly] {
  cursor: not-allowed;
}

.control>*[disabled], fieldset[disabled] {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}

.control.required:before {
  color: #f00;
  content: "*";
  font-family: FontAwesome;
  position: absolute;
  right: -12px;
  top: 5px;
  font-size: 1.5em;
}

.control select {
  background-image: url("icons/icon-select.svg") !important;
  background-repeat: no-repeat;
  background-size: 7px 16px;
  background-position: center right 4px;
}

.control select:hover {
  background-image: url("icons/icon-select-active.svg") !important;
}

.calendar {
  background-image: url("icons/icon-calendar.svg") !important;
  background-repeat: no-repeat;
  background-size: 13px 16px;
  background-position: center right 4px;
}

.calendar:hover {
  background-image: url("icons/icon-calendar-active.svg") !important;
}

.control>div.dateperiod {
  display: table;
  min-width: 185px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  overflow: hidden;
}

.control>div.dateperiod .from {
  display: inline;
  width: 80px;
  border: none;
  padding: 3px 4px;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 22px !important;
}

.control>div.dateperiod .to {
  display: inline;
  border: none;
  padding: 4px 3px 4px 13px;
  background-color: transparent;
  background-image: url("icons/icon-tilde.svg") !important;
  background-repeat: no-repeat;
  background-size: 8px 8px;
  background-position: center left;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 22px !important;
}

.control>div.datetimeperiod {
  display: table;
  min-width: 190px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}

.control>div.datetimeperiod .from {
  display: inline;
  width: 119px;
  border: none;
  padding: 3px 4px;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 22px !important;
}

.control>div.datetimeperiod .to {
  display: inline;
  border: none;
  padding: 4px 3px 4px 13px;
  background-color: transparent;
  background-image: url("icons/icon-tilde.svg") !important;
  background-repeat: no-repeat;
  background-size: 8px 8px;
  background-position: center left;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 22px !important;
}

.clock {
  background-image: url("icons/icon-clock.svg") !important;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center right 3px;
}

.clock:hover {
  background-image: url("icons/icon-clock-active.svg") !important;
}

.control.clock:hover:after {
  color: #333;
}

.form-control .date-range .date-from {
  width: 50%;
}

.form-control .date-range .date-to {
  width: 50%;
}

.form-control .date-range .date-sep {
  width: 12px;
}

.form-control .control>div.combobox {
  display: table;
  padding: 0px;
}

.form-control .combobox input[type="text"] {
  border: none;
  display: table-cell;
  height: 23px;
  padding: 3px 4px;
}

.form-control .combobox .drop-down {
  border: none;
  display: table-cell;
  width: 19px;
}

.form-control .combobox .drop-down:before {
  color: #ccc;
  content: "\f0d7";
  font-family: FontAwesome;
  position: absolute;
  right: 6px;
  top: 6px;
}

.form-control .combobox .drop-down:hover {
  border-left: 1px solid #999;
}

.form-control .combobox .drop-down:hover:before {
  color: #333;
}

.form-control .message {
  color: #f00;
  font-size: 0.6em;
}

.form-grid>.form-control {
  display: table-cell;
}

.btn-add:before {
  content: "\f067";
  font-family: FontAwesome;
}

.control.btn-add {
  cursor: pointer;
}

.btn-edit:before {
  content: "\f040";
  font-family: FontAwesome;
}

.control.btn-edit {
  cursor: pointer;
}

.btn-refresh:before {
  content: "\f021";
  font-family: FontAwesome;
}

.control.btn-refresh {
  cursor: pointer;
}

.btn-search:before {
  content: "\f002";
  font-family: FontAwesome;
}

.control.btn-search {
  cursor: pointer;
}

.btn-next:before {
  content: "\f054";
  font-family: FontAwesome;
}

.control.btn-next {
  cursor: pointer;
}

.btn-prev:before {
  content: "\f053";
  font-family: FontAwesome;
}

.control.btn-prev {
  cursor: pointer;
}

.btn-trash:before {
  content: "\f014";
  font-family: FontAwesome;
}

.control.btn-trash {
  cursor: pointer;
}

.control.border {
  border: 1px solid #999;
  border-radius: 2px;
}

.control.border>* {
  height: 23px !important;
}

.control.square {
  width: 25px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  min-height: 25px;
  background-color: #fff;
}

.control.square>* {
  margin: 0px !important;
  padding: 0px !important;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.l50 .label {
  width: 50px;
}

.l50 .control, .l50 .message {
  
}

.l60 .label {
  width: 60px;
}

.l60 .control, .l60 .message {
  
}

.l70 .label {
  width: 70px;
}

.l70 .control, .l70 .message {
  
}

.l80 .label {
  width: 80px;
}

.l80 .control, .l80 .message {
  
}

.l90 .label {
  width: 90px;
}

.l90 .control, .l90 .message {
  
}

.l100 .label {
  width: 100px;
}

.l100 .control, .l100 .message {
  
}

.l110 .label {
  width: 110px;
}

.l110 .control, .l110 .message {
  
}

.l120 .label {
  width: 120px;
}

.l120 .control, .l120 .message {
  
}

.l130 .label {
  width: 130px;
}

.l130 .control, .l130 .message {
  
}

.l140 .label {
  width: 140px;
}

.l140 .control, .l140 .message {
  
}

.l150 .label {
  width: 150px;
}

.l150 .control, .l150 .message {
  
}

.l160 .label {
  width: 160px;
}

.l160 .control, .l160 .message {
  
}

.l170 .label {
  width: 170px;
}

.l170 .control, .l170 .message {
  
}

.l180 .label {
  width: 180px;
}

.l180 .control, .l180 .message {
  
}

.l190 .label {
  width: 190px;
}

.l190 .control, .l190 .message {
  
}

.l200 .label {
  width: 200px;
}

.l200 .control, .l200 .message {
  
}

.l210 .label {
  width: 210px;
}

.l210 .control, .l210 .message {
  
}

.l220 .label {
  width: 220px;
}

.l220 .control, .l220 .message {
  
}

.l230 .label {
  width: 230px;
}

.l230 .control, .l230 .message {
  
}

.l240 .label {
  width: 240px;
}

.l240 .control, .l240 .message {
  
}

.l250 .label {
  width: 250px;
}

.l250 .control, .l250 .message {
  
}

.l260 .label {
  width: 260px;
}

.l260 .control, .l260 .message {
  
}

.l270 .label {
  width: 270px;
}

.l270 .control, .l270 .message {
  
}

.l280 .label {
  width: 280px;
}

.l280 .control, .l280 .message {
  
}

.l290 .label {
  width: 290px;
}

.l290 .control, .l290 .message {
  
}

.l290 .label {
  width: 290px;
}

.labove .label {
  width: 100%;
  display: block;
  text-align: left;
  padding: 0px 0px 3px 0px;
}

.labove .control {
  width: 100%;
  display: block;
}

.text-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-nowrap {
  white-space: nowrap;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.login-username-icon {
  background-image: url("images/username.png") !important;
  background-repeat: no-repeat;
  background-position: center 5px;
  width: 30px;
}

.login-password-icon {
  background-image: url("images/password.png") !important;
  background-repeat: no-repeat;
  background-position: center 5px;
  width: 30px;
}

.login-capchabackground {
  background-image: url("images/capchabackground.png") !important;
  background-repeat: no-repeat;
  background-position: center 0px;
  width: 140px;
  overflow: hidden;
}

.border {
  border: 1px solid #ccc;
}

.border-top {
  border-top: 1px solid #ccc;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}

.border-left {
  border-left: 1px solid #ccc;
}

.border-right {
  border-right: 1px solid #ccc;
}

.border-radius {
  border-radius: 2px;
}

.border-radius4 {
  border-radius: 4px;
}

.no-radius {
  border-radius: 0px !important;
}

.no-radius-left {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.no-radius-right {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.no-border {
  border-color: transparent !important;
  box-shadow: none !important;
}

.no-border-left {
  border-left-width: 0px !important;
  border-left-width: 0px !important;
}

.no-border-right {
  border-right-width: 0px !important;
  border-right-width: 0px !important;
}

.imaging-side-header {
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
}

.imaging-image {
  position: relative;
  margin: 10px;
  display: inline-block;
  width: 320px;
}

.imaging-image>.image {
  float: left;
  width: 100%;
}

.imaging-image.small {
  width: 200px;
}

.imaging-image.small>.image {
  width: 100%;
}

.imaging-image.smaller {
  width: 120px;
}

.imaging-image.smaller>.image {
  width: 100%;
}

.imaging-image.large {
  width: auto;
  max-width: 100%;
}

.imaging-image.large>.image {
  width: auto;
  max-width: 100%;
  max-height: 880px;
}

.imaging-image>.image-action {
  padding-top: 10px;
  padding-bottom: 20px;
  display: table;
  width: 100%;
}

.imaging-image>.image-action>.btn-remove {
  float: right;
  padding: 5px;
  margin-top: -5px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}

.imaging-image>.image-action>.btn-remove:hover {
  color: #f00;
  background-color: #eee;
  border-color: #999;
}

.imaging-image>.image-zoom {
  top: 5px;
  position: absolute;
  width: 100%;
  text-align: center;
  display: none;
}

.imaging-image:hover>.image-zoom {
  display: block;
}

.imaging-image>.image-zoom>* {
  background-color: #fff;
  padding: 3px 10px;
}

.imaging-image>.image-zoom>.zoom-in {
  display: inline-block;
}

.imaging-image>.image-zoom>.zoom-in:hover {
  color: #00f;
}

.imaging-image>.image-zoom>.zoom-in:before {
  font-family: FontAwesome;
  content: "\f010";
}

.imaging-image>.image-zoom>.zoom-reset {
  display: inline-block;
}

.imaging-image>.image-zoom>.zoom-reset:hover {
  color: #00f;
}

.imaging-image>.image-zoom>.zoom-out {
  display: inline-block;
}

.imaging-image>.image-zoom>.zoom-out:hover {
  color: #00f;
}

.imaging-image>.image-zoom>.zoom-out:before {
  font-family: FontAwesome;
  content: "\f00e";
}

.imaging-image>.image-zoom>.move-right {
  display: inline-block;
}

.imaging-image>.image-zoom>.move-right:hover {
  color: #00f;
}

.imaging-image>.image-zoom>.move-right:before {
  font-family: FontAwesome;
  content: "\f061";
}

.imaging-image>.image-zoom>.move-left {
  display: inline-block;
}

.imaging-image>.image-zoom>.move-left:hover {
  color: #00f;
}

.imaging-image>.image-zoom>.move-left:before {
  font-family: FontAwesome;
  content: "\f060";
}

.btn-inline {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.btn-inline:hover {
  color: #00f;
  background-color: #eee;
  border-color: #999;
}

.search-control {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 2px;
  background-color: #fff;
}

.search-control>.input-search {
  display: table-cell;
  background-color: #fff;
}

.search-control>.input-search>input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 3px 4px;
  box-sizing: border-box;
}

.search-control>.input-advance {
  display: table-cell;
  padding: 0px 4px;
  color: #ccc;
}

.search-control>.input-advance:hover {
  display: table-cell;
  padding: 0px 4px;
  color: #333;
}

.search-control>.input-advance:before {
  font-family: FontAwesome;
  content: "\f078";
}

.search-control>.btn-search {
  display: table-cell;
  background-color: #fff;
  border-left: 1px solid #999;
  position: relative;
  width: 30px;
}

.search-control>.btn-search:before {
  display: table-cell;
  font-family: FontAwesome;
  content: "\f002";
  left: 8px;
  position: absolute;
  top: 4px;
  left: 8px;
}

.group-code-name {
  display: table;
}

.group-code-name>div {
  display: table-cell;
}

.group-code-name>.code {
  
}

.group-code-name>.code>input {
  width: 120px !important;
}

.group-code-name>.name {
  width: 100%;
}

.group-rate-amount {
  display: table;
  width: 100%;
}

.group-rate-amount>div {
  display: table-cell;
  vertical-align: middle;
}

.group-rate-amount>.rate {
  
}

.group-rate-amount>.rate>input {
  width: 32px !important;
  text-align: right;
}

.group-rate-amount>.percent {
  border-right: 1px solid #ccc;
  padding-right: 2px;
}

.group-rate-amount>.percent>span {
  
}

.group-rate-amount>.amount {
  width: 100%;
  padding-right: 4px;
}

.group-rate-amount>.amount>input {
  text-align: right;
}

.group-rate-amount>.amount>span {
  float: right;
}

.group-select-index {
  display: table;
  width: 100%;
}

.group-select-index>div {
  display: table-cell;
  vertical-align: middle;
}

.group-select-index>.index {
  text-align: right;
}

.group-select-index>.add-row {
  width: 12px;
  text-align: right;
  color: #00f;
}

.group-select-index>.add-row.disabled {
  width: 12px;
  text-align: right;
  color: #a9a9a9;
}

.group-select-index>.add-row:hover {
  text-decoration: underline;
}

td>.add-row {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #00f;
  cursor: pointer;
}

td>.add-row.left {
  right: auto;
  left: 0px;
}

td>.add-row.disabled {
  color: #a9a9a9;
}

td>.add-row:hover {
  text-decoration: underline;
}

.group-amount {
  display: table;
}

.group-amount>div {
  display: table-cell;
}

.group-amount>.incdec {
  width: 20px;
}

.group-amount>.incdec>input, .group-amount>.incdec>select, .group-amount>.incdec>div {
  width: 20px !important;
  border-right: 0px solid #fff;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: none;
  background-image: none !important;
  font-size: 20px;
  font-weight: bold;
  padding-top: 0px;
  font-size: 20px;
  background-image: none !important;
}

.group-amount>.incdec>input.inc, .group-amount>.incdec>select.inc, .group-amount>.incdec>div.inc {
  color: blue;
}

.group-amount>.incdec>input.dec, .group-amount>.incdec>select.dec, .group-amount>.incdec>div.dec {
  color: red;
}

.group-amount>.incdec>select>option[value="1"] {
  color: #00F;
}

.group-amount>.incdec>select>option[value="-1"] {
  color: #F00;
}

.group-amount>.amount {
  width: 100%;
}

.group-amount>.amount>input, .group-amount>.amount>div {
  border-left: 0px solid #fff;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

div.result-abnormal {
  color: #bbb;
  padding-top: 8px;
}

input[type="checkbox"].result-abnormal:checked+span {
  font-weight: bold;
  color: red;
}

input[type="checkbox"].result-abnormal:checked+span {
  font-weight: bold;
  color: red;
}

.context-menu-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  display: none;
  cursor: not-allowed;
}

.context-menu-wrapper.show {
  display: block;
}

.context-menu {
  position: fixed;
  z-index: 11;
  border: 1px solid #999;
  border-radius: 2px;
  padding: 5px;
  cursor: default;
  background-color: #fff;
}

.context-menu.show {
  display: block;
}

.context-menu-body {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.context-menu-item {
  padding: 2px 0px;
}

.context-menu-action {
  padding: 10px 0px 5px 0px
}

.context-menu-action .context-menu-ok {
  
}

.context-menu-action .context-menu-close {
  float: right;
}

/**
 Popup menu
*/
.popup-menu {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  display: none;
  cursor: not-allowed;
  background: transparent;
}

.popup-menu.show {
  display: block;
}

.popup-menu .menu-body {
  position: fixed;
  z-index: 11;
  padding: 0px;
  cursor: default;
  background-color: #fff;
}

.popup-menu .menu-item {
  width: 100%;
  padding: 10px 0px 10px 25px;
  background: transparent;
  border-top: 1px solid #fff;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  text-align: left;
}

.popup-menu .menu-item:hover {
  background-color: #ccc;
}

.popup-menu .menu-body :first-child {
  border-top: 1px solid #999;
}

/**
 Popup search
*/
.popup-search {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  display: none;
  cursor: not-allowed;
  background: transparent;
}

.popup-search.show {
  display: block;
}

.popup-search .search-body {
  position: fixed;
  z-index: 11;
  border: 1px solid #999;
  border-radius: 2px;
  cursor: default;
  background-color: #fff;
  overflow: hidden;
}

.popup-search .search-content {
  padding: 10px 10px 10px 10px;
  overflow: auto;
}

.popup-search .search-content .border-box {
  border: 1px solid #999;
  border-radius: 2px;
  padding: 5px 10px;
}
/**
.popup-search .search-content>div:last-child  {
    margin-bottom: 10px;
}
*/
.popup-search .search-action {
  border-top: 1px solid #999;
  padding: 10px;
}

.popup-search .search-action>* {
  min-width: 60px;
}

.document-files {
  border-top: 1px solid #ccc;
  padding-top: 12px;
}

tr:first-child .document-files {
  border-top: none;
}

.document-file {
  margin-top: 20px;
}

.document-file>iframe {
  display: block;
  width: 100%;
  height: 100vh;
  max-height: 620px;
}

.document-file>iframe body {
  width: 100%;
}

.document-file>iframe img {
  width: 100%;
  max-width: 100%;
}

.document-action {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
  vertical-align: top;
}

.document-action>.btn {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.tabInfo {
  display: none;
}

.tabInfo.active {
  display: block;
}

.form-control.tabInfo.active, .form-grid.tabInfo.active {
  display: table;
}

.form-group.tabInfo.active {
  display: table-cell;
}

.tabItems {
  display: none;
}

.tabItems.active {
  display: block;
}

.form-control.tabItems.active, .form-grid.tabItems.active {
  display: table;
}

.form-group.tabItems.active {
  display: table-cell;
}

.tabSummary {
  display: none;
}

.tabSummary.active {
  display: block;
}

.form-control.tabSummary.active, .form-grid.tabSummary.active {
  display: table;
}

.form-group.tabSummary.active {
  display: table-cell;
}