.icon-tab {
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/user.svg");
}

.icon-noti {
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("icons/icon-note.svg");
}

.icon-top-action {
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("icons/icon-setting.svg");
}

.icon-lab-sample {
  background-image: url("icons/icon-lab-sample.svg");
}

.icon-lab-sample.active {
  background-image: url("icons/icon-lab-sample-active.svg");
}

.icon-lab-test {
  background-image: url("icons/icon-lab-test.svg");
}

.icon-lab-test.active {
  background-image: url("icons/icon-lab-test-active.svg");
}

.icon-lab-testing {
  background-image: url("icons/icon-lab-testing.svg");
}

.icon-lab-testing.active {
  background-image: url("icons/icon-lab-testing-active.svg");
}

.icon-lab-complete {
  background-image: url("icons/icon-lab-complete.svg");
}

.icon-lab-complete.active {
  background-image: url("icons/icon-lab-complete-active.svg");
}

.icon-lab-valid {
  background-image: url("icons/icon-lab-valid.svg");
}

.icon-lab-valid.active {
  background-image: url("icons/icon-lab-valid-active.svg");
}

.icon-lab-report {
  background-image: url("icons/icon-lab-sample.svg");
}

.icon-lab-report.active {
  background-image: url("icons/icon-lab-sample.svg");
}

.icon-waiting {
  background-image: url("icons/icon-waiting.svg");
}

.icon-waiting.active {
  background-image: url("icons/icon-waiting.svg");
}

.icon-x-ray {
  background-image: url("icons/icon-x-ray.svg");
}

.icon-x-ray.active {
  background-image: url("icons/icon-x-ray.svg");
}

.icon-us {
  background-image: url("icons/icon-us.svg");
}

.icon-us.active {
  background-image: url("icons/icon-us.svg");
}

.icon-ecg {
  background-image: url("icons/icon-ecg.svg");
}

.icon-ecg.active {
  background-image: url("icons/icon-ecg.svg");
}

.icon-endo {
  background-image: url("icons/icon-endo.png");
}

.icon-endo.active {
  background-image: url("icons/icon-endo.png");
}

.icon-doctor {
  background-image: url("icons/icon-doctor.svg");
}

.icon-doctor.active {
  background-image: url("icons/icon-doctor.svg");
}

.icon-config {
  height: 100%;
  width: 40px;
}

.icon-config:hover {
  background-color: #ccc;
}

.icon-config.active {
  
}

.icon-list {
  color: #075b88;
  height: 100%;
  width: 40px;
}

.icon-list:before {
  font-family: FontAwesome;
  content: "\f03a";
  position: absolute;
  top: 13px;
  left: 12px;
}

.icon-list:hover {
  background-color: #ccc;
}

.icon-list.active {
  
}