html, body, form {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

input, textarea, select, .textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

div.textarea {
  line-height: 1.2;
}

input[type="checkbox"], input[type="radio"] {
  margin: 0px;
  padding: 0px;
}

input[type="checkbox"]+label, input[type="radio"]+label {
  margin-right: 12px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

header, .header {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 62px;
  background-color: #f5f5f5;
}

header:hover, .header:hover {
  
}

footer, .footer {
  position: fixed;
  top: auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 2px;
  overflow: hidden;
  color: #fff;
  text-align: center;
}

footer:hover, .footer:hover {
  height: auto;
  background-color: #1679c3;
  padding: 10px;
  box-sizing: border-box;
}

.prevent-enter-submit {
  width: 1px;
  height: 1px;
  border: none;
  top: -200px;
  position: absolute;
}

.logo {
  border-right: 1px solid #ccc;
  display: inline;
  overflow: hidden;
  position: absolute;
  width: 220px;
  padding: 6px;
  box-sizing: border-box;
  z-index: 1;
}

.logo>img {
  height: 50px;
  width: 100%;
  float: left;
}

.navtop {
  position: absolute;
  display: table-row;
  height: 62px;
  left: 220px;
  right: 320px;
}

.navbar {
  height: 100%;
  width: 100%;
}

.navtop .nav-item {
  border-right: 1px solid #ccc;
  display: table-cell;
  height: 62px;
  width: 80px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center 5px;
  padding-top: 43px;
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
}

.navtop .nav-item:hover {
  background-color: #ccc;
}

.navtop .nav-item.active {
  background-color: #075b88;
}

.navtop .nav-item>span {
  color: #ccc;
}

.navtop .nav-item:hover>span {
  color: #07c;
}

.navtop .nav-item.active>span {
  color: #fff;
}

.navtop .nav-item.more {
  width: 16px;
  padding-top: 0px;
  vertical-align: middle;
  color: #ccc;
  background-color: #eee;
}

.navtop .nav-item.more:hover {
  background-color: #ccc;
  color: #333;
}

.menu-body>.navtop {
  display: block;
  left: 0px;
  right: auto;
}

.menu-body>.navtop>.nav-item {
  display: block;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #f5f5f5;
}

.menu-body>.navtop>.nav-item:hover {
  background-color: #ccc;
}

.menu-body>.navtop.more-scroll {
  min-height: 310px;
  overflow-x: hidden;
}

.app-config {
  border-left: 1px solid #ccc;
  position: absolute;
  right: 56px;
  height: 62px;
  width: 72px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center 5px;
  padding-top: 43px;
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  white-space: nowrap;
  box-sizing: border-box;
  color: #ccc;
  background-image: url("icons/icon-setting.svg");
  cursor: pointer;
}

.app-config:hover {
  background-color: #ccc;
  color: #07c;
}

.app-config.active {
  color: #fff;
  background-color: #07c;
  background-image: url("icons/icon-setting-active.svg");
}

.app-logout {
  border-left: 1px solid #ccc;
  position: absolute;
  right: 0px;
  height: 62px;
  width: 56px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center 5px;
  padding-top: 43px;
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  white-space: nowrap;
  box-sizing: border-box;
  color: #ccc;
  background-image: url("icons/icon-logout.svg");
}

.app-logout:hover {
  background-color: #ccc;
  color: #07c;
}

.app-logout.active {
  background-color: #07c;
  color: #fff;
}

.login-info {
  position: absolute;
  right: 128px;
  height: 62px;
  left: auto;
  display: table;
}

.user-image {
  display: table-cell;
}

.user-image>img {
  margin: 4px;
  width: 52px;
  height: 54px;
  box-sizing: border-box;
}

.user-info {
  display: table-cell;
  white-space: nowrap;
  padding: 0px 6px;
  vertical-align: top;
  line-height: 19px;
}

.user-department {
  margin-top: 3px;
}

.user-account {
  
}

.user-name {
  
}

.department-select {
  display: table-cell;
  width: 20px;
  vertical-align: middle;
  text-align: center;
  color: #ccc;
  cursor: pointer;
}

.department-select:hover {
  background-color: #ccc;
  color: #00f;
}

.company-branch {
  display: inline-table;
  overflow: hidden;
  position: absolute;
  width: 220px;
  box-sizing: border-box;
  z-index: 2;
  height: 100%;
}

.company-branch>div {
  display: table-cell;
}

.company-select {
  vertical-align: middle;
  text-align: center;
  color: #ccc;
  width: 24px;
  cursor: pointer;
}

.company-select:hover {
  background-color: #ccc;
  color: #00f;
}

.branch-select {
  vertical-align: middle;
  text-align: center;
  color: #ccc;
  width: 24px;
  cursor: pointer;
}

.branch-select:hover {
  background-color: #ccc;
  color: #00f;
}

.notification {
  right: 150px;
  position: absolute;
  text-align: right;
  top: 62px;
  z-index: 2;
}

.noti-bar {
  display: table;
  height: 40px;
}

.noti-item {
  display: table-cell;
  width: 40px;
  height: 100%;
  cursor: pointer;
}

.noti-item:hover {
  background-color: #ccc;
}

.wrapper {
  width: 100%;
  min-width: 1024px;
  position: fixed;
  top: 63px;
  bottom: 0px;
}

.tap-wrapper>.wrapper {
  top: 0px;
}

.popup-wrapper.wrapper {
  top: 0px;
}

.side-left {
  border-right: 1px solid #ccc;
  height: 100%;
  width: 220px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  margin-top: 2px;
}

.side-right {
  border-left: 1px solid #ccc;
  width: 220px;
  position: absolute;
  right: 0px;
  top: 40px;
  bottom: 0px;
  background-color: #f5f5f5;
}

.content {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.content-header {
  height: 40px;
  border-bottom: 1px solid #ccc;
}

.header-title {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 40px;
  margin-left: 10px;
}

.form-content {
  position: absolute;
  top: 40px;
  right: 0px;
  bottom: 40px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper.left-hide .side-left {
  width: 0px;
  overflow: hidden;
}

.wrapper.left-show .side-left {
  width: 220px;
}

.wrapper.left-hide .content {
  left: 0px;
}

.wrapper.left-show .content {
  left: 220px;
}

.wrapper.left-hide>.form-content {
  left: 0px;
}

.wrapper.left-show>.form-content {
  left: 220px;
}

.wrapper.right-hide .side-right {
  width: 0px;
  overflow: hidden;
}

.wrapper.right-show .side-right {
  width: 400px;
}

.wrapper.right-hide .form-content {
  right: 0px;
}

.wrapper.right-show .form-content {
  right: 400px;
}

.iframe-object {
  width: 100%;
  height: 1088px;
}

.iframe-object.landscape {
  height: 650px;
}

.popup-wrapper .wrapper {
  top: 0px;
}

.popup-wrapper .content {
  top: 0px;
}

.popup-wrapper .form-content {
  top: 0px;
}

.main-content {
  /**
  position: absolute;
  top: 1px;
  right: 0px;
  bottom: 41px;
  left: 0px;
  */
  
}

.wrapper-content {
  position: relative;
  padding: 10px;
}

.inner-header {
  font-size: 1.2em;
  font-weight: bolder;
  background-color: #ccc;
  padding: 8px 10px;
  position: relative;
  border-radius: 2px;
  min-height: 14px;
}

.inner-header.margin-top {
  margin-top: 20px;
}

.margin-top {
  margin-top: 20px;
}

.action {
  position: fixed;
  top: auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 40px;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  padding-top: 5px;
  padding-right: 16px;
  padding-bottom: 5px;
  background-color: #fff;
  right: 0px;
}

.action-inner {
  padding: 10px 0px;
}

.action-message {
  box-sizing: border-box;
  float: left;
  height: 100%;
  padding: 6px 40px 6px 10px;
  color: #0000ff;
  margin-left: 30px;
}

.wrapper.left-hide .action {
  left: 0px;
}

.wrapper.left-show .action {
  left: 220px;
}

.action-bar {
  text-align: right;
}

.action-bar>.btn {
  margin-right: 10px;
  min-width: 78px;
}

.action-right {
  text-align: right;
  padding-top: 8px;
  padding-bottom: 8px;
}

.action-right>.btn {
  margin-left: 10px;
  padding-left: 4px;
  padding-right: 4px;
}

.action.task-bar {
  padding: 0px;
}

.action.task-bar .action-bar {
  padding-top: 5px;
  padding-right: 16px;
  padding-bottom: 5px;
}

.switch-view {
  height: 40px;
  width: 40px;
  bottom: 0px;
  position: absolute;
}

.switch-view>.show-edit {
  height: 40px;
  width: 40px;
}

.switch-view>.show-edit:before {
  font-family: FontAwesome;
  content: "\f0f6";
  position: absolute;
  top: 13px;
  left: 12px;
}

.switch-view>.show-edit:hover {
  background-color: #ccc;
}

.switch-view>.show-list {
  height: 40px;
  width: 40px;
}

.switch-view>.show-list:before {
  font-family: FontAwesome;
  content: "\f03a";
  position: absolute;
  top: 13px;
  left: 12px;
}

.switch-view>.show-list:hover {
  background-color: #ccc;
}

.tab-bar {
  display: table;
  width: 100%;
}

.tab-item {
  padding: 2px 8px;
  box-sizing: border-box;
  display: table-cell;
  text-align: center;
  cursor: pointer;
  color: #999;
  vertical-align: middle;
}

.tab-item.refresh:after {
  font-family: FontAwesome;
  content: "\f021";
  font-weight: normal;
  position: absolute;
  right: 10px;
}

.tab-item:hover {
  background-color: #ccc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.tab-item.active {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #333;
  font-weight: bold;
}

.tab-item.bottom:hover {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.tab-item.bottom.active {
  border-top: none;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #333;
}

.tab-bar.list {
  height: 32px;
  position: absolute;
}

.tab-bar.list .tab-item {
  width: 33.33%;
}

.tab-bar.list.c2 .tab-item {
  width: 50%;
}

.tab-bar.list.c3 .tab-item {
  width: 33.33%;
}

.tab-bar.list.c4 .tab-item {
  width: 25%;
}

.search-bar {
  background-color: #ccc;
  box-sizing: border-box;
  height: 35px;
  padding: 6px;
  position: absolute;
  top: 32px;
  width: 100%;
  display: table;
}

.search-bar>.search-quick {
  display: table-cell;
}

.search-bar>.search-advance {
  display: table-cell;
}

.search-bar>.btn-search {
  display: table-cell;
}

.highlight {
  color: #dc143c;
}

.highlight.bold {
  font-weight: bold;
}

.work-list {
  bottom: 41px;
  overflow: hidden;
  position: absolute;
  top: 69px;
  width: 100%;
}

.work-list.full {
  top: 40px;
  bottom: 0px;
  overflow-y: auto;
}

.work-list.type {
  bottom: 75px;
}

.work-list:hover {
  overflow-y: auto;
}

.work-item {
  display: table;
  padding: 8px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  font-size: 0.8em;
  line-height: 1.3em;
  width: 100%;
  color: #07c;
  cursor: pointer;
}

.work-item:hover {
  background-color: #ffe;
}

.work-item:focus {
  background-color: #ffd;
}

.work-item.active {
  background-color: #ffc;
  color: #222;
}

.work-item .item-no {
  font-size: 1.2em;
  font-weight: bolder;
  color: #000;
}

.work-item .item-seq {
  font-size: 1em;
  font-weight: bolder;
  color: #000;
}

.work-item .item-object {
  margin-left: 20px;
}

.work-item .item-date {
  float: right;
  color: #000;
}

.work-item .item-code {
  font-size: 1em;
}

.work-item .item-age {
  float: right;
}

.work-item .item-name {
  font-weight: bolder;
  font-size: 1.2em;
}

.work-item .item-service {
  
}

.work-item .item-status {
  float: right;
  color: #000;
}

.work-item .item-status-left {
  color: #F00;
}

.work-item .item-code.highlight {
  font-weight: bold;
}

.work-item .item-priority {
  color: #F00;
}

.work-item .item-priority.hight {
  
}

.work-item .item-priority.normal {
  
}

.work-item .item-priority.slow {
  
}

.work-list>.type-all .work-item {
  display: table;
}

.work-list>.type1 .work-item.type1 {
  display: table;
}

.work-list>.type1 .work-item.type-1 {
  display: none;
}

.work-list>.type-1 .work-item.type1 {
  display: none;
}

.work-list>.type-1 .work-item.type-1 {
  display: table;
}

.work-list-type {
  width: 100%;
  display: table;
  position: absolute;
  bottom: 42px;
  border-top: 1px solid #ccc;
}

.work-list-footer {
  width: 100%;
  display: table;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #ccc;
  height: 42px;
  padding-bottom: 2px;
  box-sizing: border-box;
}

.work-total {
  display: table-cell;
  padding: 0px;
  vertical-align: middle;
  cursor: pointer;
}

.work-total:hover {
  background-color: #ccc;
}

.popup-trigger-cashier {
  color: #ccc;
  display: table-cell;
  padding: 10px 3px 6px 3px;
  cursor: pointer;
}

.popup-trigger-cashier:hover {
  color: #000;
  background-color: #ccc;
}

.popup-trigger-cashier>i {
  font-size: 1em;
}

.popup-menu-cashier {
  position: absolute;
  left: 0px;
  bottom: 30px;
  width: auto;
}

.add-new-item {
  display: table-cell;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.add-new-item>button {
  width: 120px;
}

.left-showhide {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  height: 36px;
  margin: 2px 0;
  width: 30px;
  padding-left: 8px;
  padding-top: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.left-show .left-showhide {
  padding-left: 8px;
}

.left-show .left-showhide:before {
  font-family: FontAwesome;
  content: "\f053";
}

.left-hide .left-showhide {
  padding-left: 10px;
}

.left-hide .left-showhide:before {
  font-family: FontAwesome;
  content: "\f054";
}

.left-showhide:hover {
  color: #0000ff;
}

.right-showhide {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  float: right;
  height: 36px;
  margin: 2px 0;
  width: 30px;
  padding-left: 12px;
  padding-top: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.right-show .right-showhide {
  padding-left: 12px;
}

.right-show .right-showhide:before {
  font-family: FontAwesome;
  content: "\f054";
}

.right-hide .right-showhide {
  padding-left: 10px;
}

.right-hide .right-showhide:before {
  font-family: FontAwesome;
  content: "\f053";
}

.right-showhide:hover {
  color: #0000ff;
}

.top-action {
  position: absolute;
  right: 50px;
  top: 0;
  height: 40px;
  display: table;
}

.top-action>div {
  display: table-cell;
  width: 40px;
  height: 100%;
  text-align: center;
}

.tab-bar.history {
  border-bottom: 1px solid #ccc;
}

.tab-bar.history .tab-item {
  width: 50%;
}

.tab-bar.history-service-type {
  border-top: 1px solid #ccc;
  position: absolute;
  bottom: 0px;
}

.tab-bar.history-service-type .tab-item {
  width: 25%;
}

.history-list {
  box-sizing: border-box;
  overflow: auto;
  padding: 0px 0px 8px 0px;
  position: absolute;
  top: 32px;
  width: 100%;
  bottom: 32px;
}

.history-list .history-item {
  display: table;
  padding: 8px 8px 0px 8px;
  box-sizing: border-box;
  line-height: 1.3em;
  width: 100%;
  color: #333;
  cursor: pointer;
}

.history-item.tree-node {
  border: none;
}

.history-item.tree-node .icon-node {
  position: absolute;
  left: 0px;
  top: 0px;
}

.history-item.tree-node.expand .icon-node {
  position: absolute;
  left: 0px;
  top: 0px;
}

.history-item.tree-node.collapse  .icon-node {
  position: absolute;
  left: 0px;
  top: 0px;
}

.history-item .node-content {
  box-sizing: border-box;
  padding: 0px 0px 0px 20px;
  position: relative;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.history-item .node-content:hover {
  color: #000;
}

.history-item .node-content.active {
  color: #000;
}

.history-item .node-content>.node-text {
  
}

.history-item .node-content>.node-text:hover {
  color: #000;
}

.history-item .child-node {
  padding: 6px 0 6px 20px;
  cursor: pointer;
}

.history-item .child-node .node-text.active {
  font-weight: bold;
  color: #000;
}

.history-item .child-node .node-text:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #000;
}

.pat-detail {
  width: 100%;
  border: 1px solid #ccc;
  display: table;
  padding-top: 3px;
  padding-bottom: 1px;
}

.pat-image {
  display: table-cell;
  width: 100px;
  vertical-align: top;
}

.pat-image>img {
  float: right;
  height: 60px;
  margin: 6px;
}

.pat-info {
  display: table-cell;
  vertical-align: top;
}

.pat-code {
  
}

.emr-code {
  
}

.pat-object {
  
}

.pat-name {
  
}

.pat-gender {
  
}

.pat-dob {
  
}

.pat-address {
  
}

.webcam-wrapper {
  position: fixed;
  border: 4px solid #ccc;
  border-radius: 8px;
  bottom: 43px;
  right: 20px;
  background-color: #fff;
}

.webcam-wrapper.minimize {
  height: 25px;
  overflow: hidden;
}

.webcam-wrapper .webcam-maxmin {
  float: right;
  font-size: 18px;
  margin-bottom: -5px;
}

.webcam-wrapper .webcam-maxmin:before {
  font-family: FontAwesome;
  content: "\f147";
}

.webcam-wrapper.minimize .webcam-maxmin:before {
  font-family: FontAwesome;
  content: "\f196";
}

.webcam-wrapper.minimize .webcam-live {
  display: none;
}

.webcam-header {
  padding: 4px;
  position: relative;
}

.webcam-live {
  
}

.webcam-action {
  padding: 4px;
  position: relative;
}

.tree-root {
  
}

.tree-node {
  border-bottom: 1px solid #ccc;
}

.node-content {
  box-sizing: border-box;
  padding: 6px 6px 6px 24px;
  position: relative;
  width: 100%;
}

.node-content:hover {
  
}

.node-content.active {
  
}

.node-content>.node-text {
  
}

.node-content>.node-text:hover {
  text-decoration: underline;
}

.tree-node.expand .icon-node {
  position: absolute;
  top: 6px;
  left: 6px;
}

.tree-node.expand .icon-node:before {
  font-family: FontAwesome;
  content: "\f147";
}

.tree-node.collapse .icon-node {
  position: absolute;
  top: 6px;
  left: 6px;
}

.tree-node.collapse .icon-node:before {
  font-family: FontAwesome;
  content: "\f196"
}

.node-content.nochild>.icon-node {
  position: absolute;
  top: 6px;
  left: 6px;
}

.node-content.nochild>.icon-node:before {
  font-family: FontAwesome;
  content: "\f096";
}

.node-content>.addnew-node {
  position: absolute;
  right: 6px;
  top: 6px;
}

.node-content>.addnew-node:before {
  font-family: FontAwesome;
  content: "\f0fe"
}

.tree-node .child-node {
  padding: 6px 6px 6px 24px;
}

.tree-node.expand .child-node {
  display: table;
}

.tree-node.collapse .child-node {
  display: none;
}

.popup-menu-block {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 10;
}

.popup-menu {
  z-index: 100;
  background-color: #fff;
  border: 2px solid #bbb;
  border-radius: 2px;
  width: auto;
}

.popup-menu-item {
  padding: 8px 10px;
  border-bottom: 1px solid #ccc;
  color: #888;
  cursor: pointer;
}

.popup-menu-item:hover {
  background-color: #ccc;
  color: #333;
}

.popup-menu-item:last-child {
  border-bottom: none;
}

.popup-menu-company {
  position: absolute;
  left: 0px;
  top: 61px;
  box-sizing: border-box;
  width: 220px;
}

.popup-menu-branch {
  position: absolute;
  left: 0px;
  top: 61px;
  box-sizing: border-box;
  width: 220px;
}

.popup-menu-department {
  position: absolute;
  right: 128px;
  top: 61px;
  width: auto;
}

.popup-block {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-block-noback {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 10;
}

.popup-container {
  border: 1px solid #ccc;
  width: 800px;
  height: 600px;
  margin: 0px auto;
  border-radius: 6px;
  position: relative;
  background-color: #fff;
}

.popup-header {
  width: 100%;
  height: 32px;
  background-color: #ccc;
  box-sizing: border-box;
  padding: 8px 10px;
}

.popup-title {
  font-weight: bold;
}

.popup-body {
  position: absolute;
  top: 32px;
  bottom: 0px;
  width: 100%;
  overflow-y: auto;
}

.popup-body.have-action {
  bottom: 40px;
}

.popup-action {
  position: absolute;
  top: auto;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 40px;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  padding-top: 5px;
  padding-right: 16px;
  padding-bottom: 5px;
}

.popup-close {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  height: 19px;
  width: 19px;
  color: #666;
  float: right;
  padding: 1px 0 0 1px;
  text-align: center;
}

.popup-close:hover {
  color: #f00;
}

.popup-close:before {
  font-family: FontAwesome;
  content: "\f00d";
}

.prevent-double-submit {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100000;
  display: none;
}

.prevent-double-submit.blocking {
  display: block;
  cursor: progress;
}

.block-waiting {
  position: absolute;
  top: 40%;
  left: 45%;
  color: #075b88;
  font-weight: bold;
  font-size: 24px;
  width: 120px;
  height: 100px;
  margin: 0px auto;
  text-align: center;
}

.block-waiting>i {
  
}

.block-waiting>span {
  
}

.search-condition {
  border-bottom: 1px solid #ccc;
  padding: 0px 8px 8px 8px;
  box-sizing: border-box;
}

.search-action {
  box-sizing: border-box;
  padding: 8px;
  text-align: right;
}

.search-result {
  box-sizing: border-box;
  padding: 8px;
  position: absolute;
  top: 125px;
  width: 100%;
  bottom: 0px;
  min-height: 100px;
}

.search-result.quick {
  top: 125px;
}

.search-result.advance {
  
}

.search-paging {
  
}

.tab-header {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.tab-header .tab-bar {
  display: inline-table;
  width: auto;
}

.tab-header .tab-item {
  padding: 8px;
  box-sizing: border-box;
  display: table-cell;
  text-align: center;
  cursor: pointer;
}

.tab-right {
  float: right;
}

.tab-right-link {
  float: right;
  margin-top: 7px
}

.tab-item-detail {
  display: none;
}

.tab-item-detail.active {
  display: block;
}

.form-grid.tab-item-detail {
  display: none;
}

.form-grid.tab-item-detail.active {
  display: table;
}

.tab-content {
  position: absolute;
  top: auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0 10px;
}

.tab-content>.tab-content-detail {
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 1px solid #ccc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dialog {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: transparent;
  cursor: not-allowed;
  z-index: 10000;
  display: none;
}

.dialog.show {
  display: block;
}

.dialog-message {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: transparent;
  cursor: not-allowed;
  z-index: 10000;
  display: none;
}

.dialog-message.show {
  display: block;
}

.dialog-wrapper {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  opacity: 1;
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: auto;
  min-width: 200px;
  max-width: 80%;
}

.dialog-title {
  padding: 10px;
  background-color: #eee;
  color: #00f;
  font-weight: bold;
  position: relative;
}

.dialog-title .dialog-close {
  background-image: url("icons/icon-close.svg") !important;
  background-repeat: no-repeat;
  background-size: 20px 25px;
  background-position: top center;
  position: absolute;
  top: 11px;
  right: 9px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-top: -6px;
  margin-right: -4px;
}

.dialog-title .dialog-close:hover {
  background-image: url("icons/icon-close-active.svg") !important;
}

.dialog-body {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  color: #00f;
  min-height: 30px;
}

.dialog-action {
  padding: 8px;
  text-align: center;
}

.dialog-action>.btn {
  min-width: 80px;
  margin: 0px 15px;
}

.dialog-action>button#__btDialogCancel {
  display: none;
}

.dialog-message.error .dialog-title {
  color: #dc143c;
}

.dialog-message.error .dialog-body {
  color: #dc143c;
}

.dialog-message.warn .dialog-title {
  color: #f0ad4e;
}

.dialog-message.warn .dialog-body {
  color: #f0ad4e;
}

.dialog-message.confirm .dialog-title {
  color: #f0ad4e;
}

.dialog-message.confirm .dialog-body {
  color: #f0ad4e;
}

.dialog-message.confirm .dialog-action>button#__btDialogCancel {
  display: inline-block;
}