div.table {
  overflow: auto;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.table-caption {
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
  color: #161bdc;
}

.row-caption {
  text-align: left;
  padding: 6px 10px;
  border-bottom: 1px solid #ccc;
  background-color: #efffef;
}

.row-caption.bottom {
  border-bottom: 0px solid #ccc;
  border-top: 1px solid #ccc;
}

div.table.caption {
  height: calc(100% - 34px);
}

div.table.height-auto {
  height: auto;
}

table.table tr {
  min-height: 25px;
}

table.table th, table.table td {
  border: 1px solid #ccc;
  min-height: 25px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  padding: 6px 4px;
  font-size: 1em;
}

table.table th, table.table td.header {
  background-color: #ddd;
  position: inherit;
}

table.table th>div.hmin, table.table td>div.hmin {
  padding: 6px 0x;
}

table.table th.hmin, table.table td.hmin {
  padding: 6px 4px;
}

table.table td.cell-rel, table.table th.cell-rel {
  padding: 0px;
  position: relative;
}

table.table>tfoot th, table.table>tfoot td {
  border: 1px solid #ccc;
  padding: 6px 4px;
  background-color: #ddd;
}

table.table.vertical-top>tbody>tr>td {
  vertical-align: top;
}

table.table.vertical-top>tbody td>div, table.table.vertical-top>tbody td>span {
  margin-top: 5px;
}

table.table>tbody>tr>td input[type="text"], table.table>tbody>tr>td a {
  border: none;
  height: 24px;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  background-image: initial;
}

table.table>tbody>tr>td textarea, table.table>tbody>tr>td div.textarea {
  border: none;
  min-height: 24px;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  padding: 3px 0px;
}

table.table>tbody>tr>td div.textarea {
  text-align: left;
}

table.table>tbody>tr>td select, table.table>tbody>tr>td input[type="submit"], table.table>tbody>tr>td input[type="button"]
  {
  width: 100%;
  /*height: 21px;*/
  padding: 2px 2px;
  border: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: none;
}

table.table>tbody>tr>td select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table.table td.text-center, table.table td.text-center input, table.table th.text-center, table.table th.text-center input
  {
  text-align: center;
}

table.table td.text-right, table.table td.text-right input, table.table th.text-right, table.table th.text-right input {
  text-align: right;
}

table.table td.text-left, table.table td.text-left input, table.table th.text-left, table.table th.text-left input {
  text-align: left;
}

table.table td span.text-right, table.table th span.text-right {
  float: right;
}

table.table td span.text-left, table.table th span.text-left {
  float: left;
}

table.table>tbody>tr.table-row-even {
  background-color: #F9F9F9;
}

table.table>tbody>tr:hover {
  background-color: #ffe;
}

table.table>tbody>tr.selected {
  background-color: #ffd;
}

table.table>tbody>tr.active {
  background-color: #ffc !important;
}

table.table>tbody>tr table tr:hover {
  background-color: #ffffc0;
}

table.table>tbody>tr table tr.selected {
  background-color: #ffb;
}

table.table>tbody>tr table tr.active {
  background-color: #ffa !important;
}

/**
 * Table input
*/
table.table>tbody td.no-padding {
  padding: 0px;
}

table.table.input th, table.table.input td {
  padding: 0px;
}

table.table.input th.output, table.table td.output {
  padding: 0px 4px;
}

table.table.input th>div.output, table.table td>div.output {
  padding: 0px 4px;
}

table.table.input th>span.output, table.table td>span.output {
  padding: 0px 4px;
}

table.table.input tr>td input[type="text"] {
  padding: 0px 4px;
}

table.table.input tr>td textarea {
  padding: 3px 4px;
}

table.table.input tr>td div.textarea {
  padding: 0px 4px;
}

/**
 * Inner table
*/
table.table table {
  width: 100%;
}

table.table tr table tr:first-child>td, table.table tr table tr:first-child>th {
  border-top: none;
}

table.table tr table tr:last-child>td, table.table tr table tr:last-child>th {
  border-bottom: none;
}

table.table tr table tr>td:first-child, table.table tr table tr>th:first-child {
  border-left: none;
}

table.table tr table tr>td:last-child, table.table tr table tr>th:last-child {
  border-right: none;
}

table.border-top {
  border-top: 1px solid #ccc;
}

table.border-bottom {
  border-bottom: 1px solid #ccc;
}

table.prescription th, table.prescription td {
  border: none;
}

table.prescription>tbody>tr>td select {
  background-image: url(icons/icon-select.svg) !important;
  background-repeat: no-repeat;
  background-size: 7px 16px;
  background-position: center right 4px;
  width: 100%;
  padding: 2px 2px;
  background-color: #33aaff0a;
  border: solid 1px #ccc;
}

table.table>tbody>tr>td input[type="text"].prescription {
  margin: 4px 4px;
  background-color: #33aaff0a;
  border: solid 1px #ccc;
}

/** New css for table*/
.scroll-x {
  overflow-x: scroll;
}

.scroll-y {
  overflow-y: scroll;
}

/**
.wrapper-table {
  display: table;
}
.wrapper-table>div {
  display: table-row;
}
.wrapper-table>div>div {
  display: table-cell;
}
*/
.wrapper-table {
  width: 800px;
}

.flexie {
  overflow: hidden;
  -webkit-flex: auto;
}

.header-table {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: auto 0 0;
  -ms-flex: auto 0 0;
  flex: auto 0 0;
  width: 100%;
  box-sizing: border-box;
}

.header-table>div {
  box-sizing: border-box;
}

.footer-table {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.footer-table>div {
  box-sizing: border-box;
}

.content-table {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.content-table>div {
  box-sizing: border-box;
}

.col-scrollable {
  overflow: hidden;
}

.col-sticky {
  border-right: 2px solid #bbb;
  box-sizing: border-box;
}

.col-sticky.right {
  border-right-width: 1px;
  border-left: 1px solid #bbb;
}

.scroll-x {
  overflow-x: scroll;
}

.scroll-y {
  overflow-y: scroll;
}

.header-table>.col-scrollable {
  overflow: hidden;
}

.header-table>.col-scrollable.x {
  overflow-x: scroll;
}

.header-table>.col-scrollable.y {
  overflow-y: scroll;
}

.footer-table>.col-scrollable {
  overflow: hidden;
}

.footer-table>.col-scrollable.x {
  overflow-x: scroll;
}

.footer-table>.col-scrollable.y {
  overflow-y: scroll;
}

.content-table>.col-sticky {
  overflow-x: scroll;
}

.content-table>.col-scrollable {
  overflow: scroll;
}

.content-table>.col-scrollable.x {
  overflow-x: scroll;
  overflow-y: hidden;
}

.content-table>.col-scrollable.y {
  overflow-x: hidden;
  overflow-y: scroll;
}

.wrapper-table table {
  border-collapse: collapse;
  border-spacing: 0px;
  table-layout: fixed;
}

.wrapper-table table>tr:first-child {
  background-color: #ccc;
}

.wrapper-table table>tr:nth-child(even) {
  background-color: #eee;
}

.wrapper-table table>tr:last-child {
  background-color: #ccc;
}

.col-sticky>table {
  
}

.table>.lh {
  
}

.table>.mh {
  
}

.table>.rh {
  
}

.table>.lc {
  
}

.table>.mc {
  
}

.table>.rc {
  
}

.table>.lf {
  
}

.table>.mf {
  
}

.table>.rf {
  
}

.table>.sep-h {
  
}

.table>.sep-c {
  
}

.table>.sep-f {
  
}

.wrapper-table table td, table th {
  border: 1px solid #333;
  box-sizing: border-box;
}

.pagination {
  display: table;
  padding: 2px;
  float: left;
  margin-left: 50px;
}

.pagination .prev {
  display: table-cell;
  border: 1px solid #bbb;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  text-align: center;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-right: 2px;
  box-sizing: border-box;
}

.pagination .prev>input[type="submit"] {
  background: transparent;
  font-size: 18px;
  color: #333;
  width: 100%;
  height: 100%;
  border: none;
  margin-top: -1px;
}

@
-moz-document url-prefix () { .pagination .prev>input[type="submit"] {
  margin-top: -3px;
}

}
.pagination .prev>input[type="submit"]:enabled:hover {
  color: #1163dd;
  font-weight: bold;
}

.pagination .prev>input[type="submit"]:disabled {
  color: #999;
}

.pagination .next {
  display: table-cell;
  border: 1px solid #bbb;
  height: 25px;
  vertical-align: middle;
  text-align: center;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding-left: 0px;
  box-sizing: border-box;
}

.pagination .next>input[type="submit"] {
  background: transparent;
  font-size: 18px;
  color: #333;
  width: 100%;
  height: 100%;
  border: none;
  margin-top: -1px;
}

@
-moz-document url-prefix () { .pagination .next>input[type="submit"] {
  margin-top: -3px;
}

}
.pagination .next>input[type="submit"]:enabled:hover {
  color: #1163dd;
  font-weight: bold;
}

.pagination .next>input[type="submit"]:disabled {
  color: #999;
}

.pagination .paging {
  display: table-cell;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  vertical-align: middle;
  text-align: center;
  padding: 0px 5px;
}

.pagination .paging>select {
  border: none;
  vertical-align: middle;
  text-align: center;
  text-align-last: center;
  margin: 0px;
  padding: 0px;
}

.pagination .paging-sep {
  display: table-cell;
  border: 1px solid #bbb;
  vertical-align: middle;
  text-align: center;
  padding: 5px;
}

.pagination .row-count {
  display: table-cell;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  vertical-align: middle;
  text-align: center;
  padding: 5px;
}

.pagination .page-sep {
  width: 10px;
}

.pagination .page-size {
  display: table-cell;
  border: 1px solid #bbb;
  border-radius: 2px;
  vertical-align: middle;
  text-align: center;
  padding: 0px 5px;
}

.pagination .page-size>select {
  border: none;
  vertical-align: middle;
  text-align: center;
  text-align-last: center;
  margin: 0px;
  padding: 0px;
}

table.table tr.exp1 {
  color: #721c24;
  background-color: #f7adaf;
}

table.table tr.exp2 {
  color: #856404;
  background-color: #f9f3c3;
}

table.table tr.exp3 {
  color: #0c5460;
  background-color: #c3e8f8;
}

table.table tr.exp4 {
  color: #155724;
  background-color: #cad9e0;
}

table.table tr.exp5 {
  color: #383d41;
  background-color: #a7c5ef;
}

table.table tr.exp6 {
  
}

table.table tr.neg {
  color: #dc143c;
}

table.table tr.neg * {
  color: #dc143c;
}

table.table tr .sort {
  cursor: pointer;
  background-image: url("icons/sort-both.svg") !important;
  background-repeat: no-repeat;
  background-size: 12px 9px;
  background-position: center right 0px;
}

table.table tr .sort:hover {
  color: #000;
}

table.table tr .sort.asc {
  background-image: url("icons/sort-up.svg") !important;
  background-repeat: no-repeat;
  background-size: 7px 14px;
  background-position: center right 2px;
}

table.table tr .sort.desc {
  background-image: url("icons/sort-down.svg") !important;
  background-repeat: no-repeat;
  background-size: 7px 14px;
  background-position: center right 2px;
}

table.table tr .stock {
  color: #161bdc;
}