div.table2 {
  overflow: auto;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

div.table2.height-auto {
  height: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0px;
}
table.table2>thead th, table.table2>thead td {
  border: 1px solid #ccc;
  height: 25px;
  vertical-align: middle;
  text-align: center;
  background-color: #ddd;
}

table.table2>tfoot th, table.table2>tfoot td {
  border: 1px solid #ccc;
  height: 19px;
  padding: 0px 4px;
  background-color: #ddd;
}

table.table2>tbody td {
  border: 1px solid #ccc;
  height: 25px;
  vertical-align: middle;
  padding: 0px 0px;
  font-size: 1em;
}

table.table2.vertical-top>tbody td {
  vertical-align: top;
}

table.table2.vertical-top>tbody td>div, table.table2.vertical-top>tbody td>span {
  padding: 0px 4px;
}

table.table2>tbody>tr>td input[type="text"], table.table2>tbody>tr>td a {
  border: none;
  height: 24px;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  padding: 0px 4px
}

table.table2>tbody>tr>td textarea {
  border: none;
  min-height: 24px;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  padding: 3px 4px;
  vertical-align: middle;
}

table.table2>tbody>tr>td>select, table.table2>tbody>tr>td input[type="submit"], table.table2>tbody>tr>td input[type="button"]
  {
  width: 100%;
  /*height: 21px;*/
  padding: 2px 2px;
  border: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

table.table2>tbody>tr>td select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table.table2>tbody>tr>td.text-center, table.table2>tbody>tr>td.text-center input {
  text-align: center;
}

table.table2>tbody>tr>td.text-right, table.table2>tbody>tr>td.text-right input {
  text-align: right;
}

table.table2>tbody>tr>td span.text-right {
  float: right;
}

table.table2>tbody>tr.table2-row-even {
  background-color: #F9F9F9;
}

table.table2>tbody>tr:hover {
  background-color: #f5f5f5;
}

table.table2>tfoot>tr>td.text-center, table.table2>tfoot>tr>td.text-center input {
  text-align: center;
}

table.table2>tfoot>tr>td.text-right, table.table2>tfoot>tr>td.text-right input {
  text-align: right;
}

table.table2>tfoot>tr>td span.text-right {
  float: right;
}

table.table2 tr table tr:first-child>td,
table.table2 tr table tr:first-child>th {
  border-top: none;
}
table.table2 tr table tr:last-child>td,
table.table2 tr table tr:last-child>th {
  border-bottom: none;
}

table.table2 tr table tr>td:first-child,
table.table2 tr table tr>th:first-child {
  border-left: none;
}
table.table2 tr table tr>td:last-child,
table.table2 tr table tr>th:last-child {
  border-right: none;
}

table.table2>tbody>tr table tr:hover {
  background-color: #d9d9d9;
}

