<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html>
<f:view xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://xmlns.jcp.org/jsf/passthrough" encoding="UTF-8" contentType="text/html;charset=UTF-8">
  <html>

<h:head>
  <title>HOME</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="#{request.contextPath}/styles/default.css" rel="stylesheet" type="text/css" />
  <link href="#{request.contextPath}/styles/cssLayout.css" rel="stylesheet" type="text/css" />
  <link href="#{request.contextPath}/styles/jquery-ui-1.css" rel="stylesheet" type="text/css">
  <link href="#{request.contextPath}/styles/jquery.css" rel="stylesheet" type="text/css">
  <link href="#{request.contextPath}/styles/header.css" rel="stylesheet" type="text/css">
  <link href="#{request.contextPath}/styles/referenceapplication.css" rel="stylesheet" type="text/css">
  <script src="#{request.contextPath}/scripts/jquery.js?v=#{app.version}" type="text/javascript"></script>
  <script src="#{request.contextPath}/scripts/jquery-ui.js?v=#{app.version}" type="text/javascript"></script>
  <script src="#{request.contextPath}/scripts/underscore-min.js?v=#{app.version}" type="text/javascript"></script>
  <script src="#{request.contextPath}/scripts/knockout-2.js?v=#{app.version}" type="text/javascript"></script>
  <script src="#{request.contextPath}/scripts/emr.js?v=#{app.version}" type="text/javascript"></script>
</h:head>

<h:body>

  <h:header>
    <div class="logo">
      <a href=""> <img src="./../images/logo.png"></a>
    </div>

    <ul class="user-options">
      <li class="identifier" style="cursor: pointer;"><i class="icon-user small"></i> admin <i
        class="icon-caret-down appui-icon-caret-down link"></i><i class="icon-caret-up link appui-toggle"
        style="display: none;"></i>
        <ul id="user-account-menu" class="appui-toggle">

          <li><a id="" href=""> Tài khoản của tôi </a></li>

        </ul></li>
      <li class="change-location"><a href="javascript:void(0);"> <i class="icon-map-marker small"></i> <span
          id="selected-location" data-bind="text: text">Inpatient Ward</span> <i class="icon-caret-down link"></i>

      </a></li>
      <li class="logout"><a href=""> Thoát <i class="icon-signout small"></i>
      </a></li>
    </ul>

    <div id="session-location">
      <div id="spinner" style="position: absolute; display: none">
        <img src="./../images/spinner.gif">
      </div>
      <ul class="select">

        <li class="selected">Inpatient Ward</li>

        <li class="">Isolation Ward</li>

        <li class="">Laboratory</li>

        <li class="">Outpatient Clinic</li>

        <li class="">Pharmacy</li>

        <li class="">Registration Desk</li>

      </ul>
    </div>

  </h:header>

  <ul id="breadcrumbs"></ul>
  <div id="body-wrapper">
    <div id="error-message" class="note-container">
      <div class="note error" style="display: none">
        <div class="text">
          <i class="icon-remove medium"></i>

        </div>
        <div class="close-icon">
          <i class="icon-remove"></i>
        </div>
      </div>
    </div>

    <div id="info-message" class="note-container">
      <div class="note success" style="display: none">
        <div class="text">
          <i class="icon-ok medium"></i>

        </div>
        <div class="close-icon">
          <i class="icon-remove"></i>
        </div>
      </div>
    </div>
    <div id="content" class="container">
      <div id="home-container">
        <h4>Logged in as Super User () at Inpatient Ward.</h4>
        <div id="apps">
          <a id="coreapps-activeVisitsHomepageLink-coreapps-activeVisitsHomepageLink-extension" href=""
            class="button app big"> <i class="icon-search"></i> Tìm kiếm hồ sơ bệnh nhân
          </a> <a
            id="org-openmrs-module-coreapps-activeVisitsHomepageLink-org-openmrs-module-coreapps-activeVisitsHomepageLink-extension"
            href="" class="button app big"> <i class="icon-calendar"></i> Active Visits
          </a> <a
            id="referenceapplication-registrationapp-registerPatient-homepageLink-referenceapplication-registrationapp-registerPatient-homepageLink-extension"
            href="" class="button app big"> <i class="icon-user"></i> Đăng ký bệnh nhân
          </a> <a id="referenceapplication-vitals-referenceapplication-vitals-extension" href="" class="button app big">
            <i class="icon-vitals"></i> Capture Vitals
          </a> <a id="appointmentschedulingui-homeAppLink-appointmentschedulingui-homeAppLink-extension" href=""
            class="button app big"> <i class="icon-calendar"></i> Lên lịch hẹn
          </a> <a id="reportingui-reports-homepagelink-reportingui-reports-homepagelink-extension" href=""
            class="button app big"> <i class="icon-list-alt"></i> Báo cáo
          </a> <a id="coreapps-datamanagement-homepageLink-coreapps-datamanagement-homepageLink-extension" href=""
            class="button app big"> <i class="icon-hdd"></i> Quản lý dữ liệu
          </a> <a
            id="org-openmrs-module-adminui-configuremetadata-homepageLink-org-openmrs-module-adminui-configuremetadata-homepageLink-extension"
            href="" class="button app big"> <i class="icon-tasks"></i> Cấu hình dữ liệu
          </a> <a id="coreapps-systemadministration-homepageLink-coreapps-systemadministration-homepageLink-extension"
            href="" class="button app big"> <i class="icon-cogs"></i> Quản trị hệ thống
          </a>
        </div>
      </div>
    </div>
  </div>

  <script id="breadcrumb-template" type="text/template">
    <li>
        {{ if (!first) { }}
        <i class="icon-chevron-right link"></i>
        {{ } }}
        {{ if (!last && breadcrumb.link) { }}
        <a href="{{= breadcrumb.link }}">
        {{ } }}
        {{ if (breadcrumb.icon) { }}
        <i class="{{= breadcrumb.icon }} small"></i>
        {{ } }}
        {{ if (breadcrumb.label) { }}
        {{= breadcrumb.label }}
        {{ } }}
        {{ if (!last && breadcrumb.link) { }}
        </a>
        {{ } }}
    </li>
</script>
  <script type="text/javascript">
    jq(function() {
        emr.updateBreadcrumbs();
    });

    // global error handler
    jq(document).ajaxError(function(event, jqxhr) {
        emr.redirectOnAuthenticationFailure(jqxhr);
    });

    var featureToggles = {};

    

</script>
  <script type="text/javascript">
            var OPENMRS_CONTEXT_PATH = 'openmrs';
            var openmrsContextPath = '/' + OPENMRS_CONTEXT_PATH;
            window.sessionContext = window.sessionContext || {
                locale: "en_GB"
            };
            window.translations = window.translations || {};
            var openmrs = {
                server: {
                    timezone: "+0000",
                    timezoneOffset: 0
                }
            }
        </script>


  <script type="text/javascript">

    var sessionLocationModel = {
        id: ko.observable(),
        text: ko.observable()
    };

    jq(function () {

        ko.applyBindings(sessionLocationModel, jq('.change-location').get(0));
        sessionLocationModel.id(6);
        sessionLocationModel.text("Inpatient Ward");

        // we only want to activate the functionality to change location if there are actually multiple login locations
        

            jq(".change-location a").click(function () {
                jq('#session-location').show();
                jq(this).addClass('focus');
                jq(".change-location a i:nth-child(3)").removeClass("icon-caret-down");
                jq(".change-location a i:nth-child(3)").addClass("icon-caret-up");
            });

            jq('#session-location').mouseleave(function () {
                jq('#session-location').hide();
                jq(".change-location a").removeClass('focus');
                jq(".change-location a i:nth-child(3)").addClass("icon-caret-down");
                jq(".change-location a i:nth-child(3)").removeClass("icon-caret-up");
            });

            jq("#session-location ul.select li").click(function (event) {
                var element = jq(event.target);
                var locationId = element.attr("locationId");
                var locationUuid = element.attr("locationUuid");
                var locationName = element.attr("locationName");

                var data = { locationId: locationId };

                jq("#spinner").show();

                jq.post(emr.fragmentActionLink("appui", "session", "setLocation", data), function (data) {
                    sessionLocationModel.id(locationId);
                    sessionLocationModel.text(locationName);
                    jq('#selected-location').attr("location-uuid", locationUuid);
                    jq('#session-location li').removeClass('selected');
                    element.addClass('selected');
                    jq("#spinner").hide();
                    jq(document).trigger("sessionLocationChanged");
                })

                jq('#session-location').hide();
                jq(".change-location a").removeClass('focus');
                jq(".change-location a i:nth-child(3)").addClass("icon-caret-down");
                jq(".change-location a i:nth-child(3)").removeClass("icon-caret-up");
            });

            
            jq('.identifier').hover(
                function(){
                    jq('.appui-toggle').show();
                    jq('.appui-icon-caret-down').hide();
                },
                 function(){
                    jq('.appui-toggle').hide();
                    jq('.appui-icon-caret-down').show();
                 }
            );
            jq('.identifier').css('cursor', 'pointer');
            
        
    });

</script>
  <div id="top" class="top">
    <ui:insert name="top">
      <h:form>
        <h1>
          <h:commandLink value="Movie Plex 7" action="/index" />
        </h1>
      </h:form>
    </ui:insert>
  </div>
  <div>
    <div id="left">
      <ui:insert name="left">
        <h:form>
          <h:commandLink action="booking">Book a movie</h:commandLink>
          <p />
          <h:outputLink value="#{request.contextPath}/faces/chat/chatroom.html">Chat Room</h:outputLink>
          <p />
          <h:outputLink value="#{request.contextPath}/faces/client/movies.html">Movies</h:outputLink>
          <p />
          <h:outputLink value="#{request.contextPath}/faces/batch/sales.html">Sales</h:outputLink>
          <p />
          <h:outputLink value="#{request.contextPath}/faces/points/points.html">Points</h:outputLink>
          <p />
          <h:outputLink value="#{request.contextPath}/faces/views/emr/index.html">EMR</h:outputLink>

        </h:form>
      </ui:insert>
    </div>
    <div id="content" class="left_content">
      <ui:insert name="content">Content</ui:insert>
    </div>
  </div>
</h:body>
  </html>
</f:view>